@charset "utf-8";
/* CSS Document */
.uds-bb-description-inside a{
	color:#FFF;
}
.uds-bb-description-inside p{
	margin:2px;
	padding:0px;
	
}
.uds-bb-description-inside a:hover{
	color:#14ADAF;
}
article header{
	width:419px;
	float:right;
	display:inline;
	background:none;
	       
		   }
article{
	background:#FFF;
	    /* Chrome / Safari */
    -webkit-transition-property: all;
    -webkit-transition-duration: 1s;
    -webkit-transition-timing-function: ease;
    -webkit-transition-delay: 0.2s;
 
 
    /* Opera */
    -o-transition-property: all;
    -o-transition-duration: 1s;
    -o-transition-timing-function: ease;
    -o-transition-delay: 0.2s;
 
 
    /* Default */
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0.2s;
	
	
}
article:hover .clsContenedor{
     width:458px;
}
.revista:hover{
	background:#dedede;
	-moz-box-shadow: 0px 0px 0px 3px #FFF;
    -webkit-box-shadow: 0px 0px 0px 3px #FFF;
    box-shadow: inset 0px 0px 0px 3px #FFF;
}
.exposiciones:hover{
	background:#dedede;
	-moz-box-shadow: 0px 0px 0px 3px #FFF;
    -webkit-box-shadow: 0px 0px 0px 3px #FFF;
    box-shadow: inset 0px 0px 0px 3px #FFF;
}
article section{
	width:419px;
	float:right;
	display:inline;
	
	         
			 }
	
article img{

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border:#c3c1c2 solid thin;
	background:#FFF;
	float:left;
	display:inline;
	
}
.revista .cont-art a img{
	width:144px;
	height:173px;
}

header{
	
}
body
{
width:960px;
margin:0px auto 15px;
font-family: Arial, "MS Trebuchet", sans-serif;
color:#333;
background:url(../imagenes/blue_blue_puff.jpg) no-repeat scroll 0 0 #000;
}
#cont-section{
	background:#eae9e9;
	-moz-box-shadow: 0px -3px 0px 3px #FFF;
  -webkit-box-shadow: 0px -3px 0px 3px #FFF;
  box-shadow: inset 0px -3px 0px 3px #FFF;
	border-bottom::#afadad solid thin;
	border-left:#afadad solid thin;
	border-right:#afadad solid thin;
	padding:0px 5px 5px;
	position:relative;
   display:block;
	z-index:100;

	
	
}
#cont-section2{
	background:#eae9e9;
	-moz-box-shadow: 0px -3px 0px 3px #FFF;
  -webkit-box-shadow: 0px -3px 0px 3px #FFF;
  box-shadow: inset 0px -3px 0px 3px #FFF;
	border-bottom::#afadad solid thin;
	border-left:#afadad solid thin;
	border-right:#afadad solid thin;
	padding:5px;
   display:block;
	

	
	
}
.cont-all{
	border:#7b7b7b solid thin;
	background: url(../imagenes/fondo.png) repeat rgba(184, 35, 142, 0.3) ;
padding:10px;
clear:right;
height:inherit;
-webkit-border-bottom-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-bottomright: 10px;
-moz-border-radius-bottomleft: 10px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
margin-bottom:10px;
display:inline-block;
width:938px;




	
}
#cont-all{
	border:#7b7b7b solid thin;
	background: rgba(62, 61, 61, 0.4);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
padding:12px;
clear:right;
height:inherit;


	
}

p
{
margin:0 0 20px 0;
}
p, li
{
line-height:20px;
}
.revista{
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
width:613px;
height:175px;
border:#c3c1c2 solid thin;
padding:10px;
}
.exposiciones{
-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
width:613px;
height:175px;
border:#c3c1c2 solid thin;
padding:10px;
margin-top:10px;
}
.revista header h2{
	color:#910C7F;
	/*color:#1ec6ed;*/
	font-family:Arial, Helvetica, sans-serif;
	margin:8px 0px 3px 0px;
	font-weight:normal;
	font-size:17px;

	}
.exposiciones header h2{
	
	font-family:Arial, Helvetica, sans-serif;
	margin:8px 0px 3px 0px;
	font-weight:normal;
	font-size:17px;

	}	
.exposiciones header h2 a{
	color:#910c7f !important;
}
.subtitulo{
	font-size:12px;
	margin-bottom:10px;
	}
.descripcion p{
	font-size:13px;
	margin-bottom:0px;
	padding:0px !important;
	
}
section{
	display:inline-block;
	
	
}
.facebook{
	background:#FFF;
	border:#c3c1c2 solid thin;
	padding:10px;
	
	display:block;
	-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
 height: 382px;
 width: 256px;
}
.clsContenedor{
background: url(../imagenes/bg.png) repeat;
    box-shadow: 0 0 2px #000000;
    color: #FFFFFF;
    height: 179px;
    margin-top: -177px;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.9s ease-out;
-moz-transition: all 0.9s ease-out;
-o-transition: all 0.9s ease-out;
transition: all 0.9s ease-out;
width:0px;
display:block;
float:right;
}
.clsTitulo, .clsContenido {
     margin: 10px;
    width: 432px;
	
}
.clsContenido{
	height:94px;
	display: inline-block;
}
.cont-art{
	display:block;
	float:left;
	
}
.clsTitulo h2{
	color:#1ec6ed;
	font-size:16px;
	margin:2px 5px 5px 5px;
	text-align:center;
	text-shadow: 1px 1px #000;
	
}
a{
text-decoration:none;

}
.bnt-ver{
	
background: #cb60b3; /* Old browsers */
background: -moz-linear-gradient(top,  #cb60b3 0%, #c146a1 50%, #a80077 51%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cb60b3), color-stop(50%,#c146a1), color-stop(51%,#a80077)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #cb60b3 0%,#c146a1 50%,#a80077 51%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #cb60b3 0%,#c146a1 50%,#a80077 51%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #cb60b3 0%,#c146a1 50%,#a80077 51%); /* IE10+ */
background: linear-gradient(to bottom,  #cb60b3 0%,#c146a1 50%,#a80077 51%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#a80077',GradientType=0 ); /* IE6-9 */



		
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border:#F097E8 solid thin;
	color:#FFF;
	padding:6px 25px;
	text-decoration:none;
	font-weight:400;
	margin:2px auto;
	text-shadow: 0.5px 0.5px #0F4A55 ;
	font-size: 15px !important;
	display:inline-block;
	  /* Firefox */
	position:relative;
	
 
 

}
.descrphover p{
	margin:0px !important;
	font-size:12px;
	
}
.descrphover{
	width:425px;
	height:86px;
	overflow:hidden;
	padding:0px 10px;
	margin-top:5px;

}
.bnt-ver:hover{
background: #c96eb4; /* Old browsers */
background: -moz-linear-gradient(top,  #c96eb4 0%, #bf69a8 50%, #a35b8d 53%, #d85fb0 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c96eb4), color-stop(50%,#bf69a8), color-stop(53%,#a35b8d), color-stop(100%,#d85fb0)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #c96eb4 0%,#bf69a8 50%,#a35b8d 53%,#d85fb0 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #c96eb4 0%,#bf69a8 50%,#a35b8d 53%,#d85fb0 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #c96eb4 0%,#bf69a8 50%,#a35b8d 53%,#d85fb0 100%); /* IE10+ */
background: linear-gradient(to bottom,  #c96eb4 0%,#bf69a8 50%,#a35b8d 53%,#d85fb0 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c96eb4', endColorstr='#d85fb0',GradientType=0 ); /* IE6-9 */







}
.btn-classic:hover{
	cursor:pointer;
	
}
.btn-classic{
	background: #ececec; /* Old browsers */
		background: -moz-linear-gradient(top,  #ececec 50%, #dedede 51%, #dedede 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#ececec), color-stop(51%,#dedede), color-stop(100%,#dedede)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #ececec 50%,#dedede 51%,#dedede 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #ececec 50%,#dedede 51%,#dedede 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #ececec 50%,#dedede 51%,#dedede 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #ececec 50%,#dedede 51%,#dedede 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#dedede',GradientType=0 ); /* IE6-9 */
			-moz-box-shadow: 0px 0px 0px 1px #CCC;
    -webkit-box-shadow: 0px 0px 0px 1px #CCC;
    box-shadow: inset 0px 0px 0px 1px #CCC;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border:#FFF solid thin;
	color:#333;
	padding: 5px 6px;
	text-decoration:none;
	font-weight:400;
	margin:2px 0px 2px 16px;
	font-size: 12px !important;
	display:inline-block;
	  /* Firefox */
	position:relative;
	
	
}
.btn-classic:hover{
		background: #f2f4f4; /* Old browsers */
background: -moz-linear-gradient(top,  #f2f4f4 48%, #ebeded 49%, #dedede 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(48%,#f2f4f4), color-stop(49%,#ebeded), color-stop(100%,#dedede)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f2f4f4 48%,#ebeded 49%,#dedede 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f2f4f4 48%,#ebeded 49%,#dedede 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f2f4f4 48%,#ebeded 49%,#dedede 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f2f4f4 48%,#ebeded 49%,#dedede 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f4f4', endColorstr='#dedede',GradientType=0 ); /* IE6-9 */
	
}

.btn-classic2{
	background: #ececec; /* Old browsers */
		background: -moz-linear-gradient(top,  #ececec 50%, #dedede 51%, #dedede 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#ececec), color-stop(51%,#dedede), color-stop(100%,#dedede)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #ececec 50%,#dedede 51%,#dedede 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #ececec 50%,#dedede 51%,#dedede 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #ececec 50%,#dedede 51%,#dedede 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #ececec 50%,#dedede 51%,#dedede 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#dedede',GradientType=0 ); /* IE6-9 */
			-moz-box-shadow: 0px 0px 0px 1px #CCC;
    -webkit-box-shadow: 0px 0px 0px 1px #CCC;
    box-shadow: inset 0px 0px 0px 1px #CCC;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border:#FFF solid thin;
	color:#000;
	padding: 5px 6px;
	text-decoration:none;
	font-weight:400;
	margin:7px 0px 0px;
	font-size: 12px !important;
	display:inline-block;
	  /* Firefox */
	
	width:407px;
	text-align:center;
	
	
}
.btn-classic2:hover{
		background: #f2f4f4; /* Old browsers */
background: -moz-linear-gradient(top,  #f2f4f4 48%, #ebeded 49%, #dedede 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(48%,#f2f4f4), color-stop(49%,#ebeded), color-stop(100%,#dedede)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f2f4f4 48%,#ebeded 49%,#dedede 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f2f4f4 48%,#ebeded 49%,#dedede 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f2f4f4 48%,#ebeded 49%,#dedede 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f2f4f4 48%,#ebeded 49%,#dedede 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f4f4', endColorstr='#dedede',GradientType=0 ); /* IE6-9 */
cursor:pointer;
	
}
.btn-classic3{
	background: #ececec; /* Old browsers */
		background: -moz-linear-gradient(top,  #ececec 50%, #dedede 51%, #dedede 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#ececec), color-stop(51%,#dedede), color-stop(100%,#dedede)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #ececec 50%,#dedede 51%,#dedede 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #ececec 50%,#dedede 51%,#dedede 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #ececec 50%,#dedede 51%,#dedede 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #ececec 50%,#dedede 51%,#dedede 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#dedede',GradientType=0 ); /* IE6-9 */
			-moz-box-shadow: 0px 0px 0px 1px #CCC;
    -webkit-box-shadow: 0px 0px 0px 1px #CCC;
    box-shadow: inset 0px 0px 0px 1px #CCC;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border:#FFF solid thin;
	color:#000;
	padding: 5px 6px;
	text-decoration:none;
	font-weight:400;
	margin:7px 0px 0px;
	font-size: 12px !important;
	display:inline-block;
	  /* Firefox */
	
	width:462px;
	text-align:center;
	float:left;
	
	
}
.btn-classic3:hover{
		background: #f2f4f4; /* Old browsers */
background: -moz-linear-gradient(top,  #f2f4f4 48%, #ebeded 49%, #dedede 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(48%,#f2f4f4), color-stop(49%,#ebeded), color-stop(100%,#dedede)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f2f4f4 48%,#ebeded 49%,#dedede 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f2f4f4 48%,#ebeded 49%,#dedede 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f2f4f4 48%,#ebeded 49%,#dedede 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f2f4f4 48%,#ebeded 49%,#dedede 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f4f4', endColorstr='#dedede',GradientType=0 ); /* IE6-9 */
cursor:pointer;
	
}
.color-inst{
	color:#910C7F;
	/*color:#14ADAF;*/
	font-weight:bolder;
	
}
.contbtn{
	width:410px;
	margin:5px auto 0px;
	
}
.cont-slider{
	margin:0px 0px 0px 0px;
	padding:5px 5px 47px 5px;
	background:#FFF;
	border-top::#afadad solid thin;
	border-left:#afadad solid thin;
	border-right:#afadad solid thin;
}
.separdorC{
	border-bottom:#FFF solid thin;
	-moz-box-shadow: 2px -3px 0 -2px #C4C4C4;
    -webkit-box-shadow: 2px -3px 0 -2px #C4C4C4;
    box-shadow: inset 2px -3px 0 -2px #C4C4C4;
    margin: 0px 0px 25px;
    padding: 1px;
    width: 919px;
	float:left;
	
}
.separdor{
	border-bottom:#FFF solid thin;
	-moz-box-shadow: 2px -3px 0 -2px #C4C4C4;
    -webkit-box-shadow: 2px -3px 0 -2px #C4C4C4;
    box-shadow: inset 2px -3px 0 -2px #C4C4C4;
    margin: 25px 0;
    padding: 1px;
    width: 919px;
	float:left;
	
}
.galeria-pub{
background:#FFF;
	border:#c3c1c2 solid thin;
	padding:18px 6px 6px;
	-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
display: inline-block;
}
.cont-img-publ{
		-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border:#C3C1C2 solid thin;
	background:#FFF;
	padding:2px;
	margin-right:3px;
	margin-left:1px;
	width:141px !important;

	  /* Chrome / Safari */
    -webkit-transition-property: all;
    -webkit-transition-duration: 1s;
    -webkit-transition-timing-function: ease;
    -webkit-transition-delay: 0.2s;
 
 
    /* Opera */
    -o-transition-property: all;
    -o-transition-duration: 1s;
    -o-transition-timing-function: ease;
    -o-transition-delay: 0.2s;
 
 
    /* Default */
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0.2s;
	
}
.cont-img-publ:hover{
	background:#E5E5E5;
}
.cont-img-publ img{
	border:#c5c5c5 solid thin;
	display:block;
	width:139px !important;
	height:83px !important;
	overflow:hidden;
	
}
.cont-img-publ a{
	display:block;
	text-decoration:none;
	border:none;
}
header nav{
	width:958px;
	background: #eae9e9; /* Old browsers */
	background: -moz-linear-gradient(top,  #eae9e9 0%, #eae9e9 50%, #cac9c9 51%, #cac9c9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eae9e9), color-stop(50%,#eae9e9), color-stop(51%,#cac9c9), 		color-stop(100%,#cac9c9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eae9e9 0%,#eae9e9 50%,#cac9c9 51%,#cac9c9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eae9e9 0%,#eae9e9 50%,#cac9c9 51%,#cac9c9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eae9e9 0%,#eae9e9 50%,#cac9c9 51%,#cac9c9 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #eae9e9 0%,#eae9e9 50%,#cac9c9 51%,#cac9c9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eae9e9', endColorstr='#cac9c9',GradientType=0 ); /* IE6-9 */
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	padding-left:2px;
	display:inline-block;
	margin-bottom:5px;
	padding-top:1px;
}
nav ul{
	list-style:none;
	padding:0px;
	margin:0px;
	display:table;
	float:left;
	
	
	
}
nav ul li{
	float:left;
	display:inline-block;
	
	-moz-box-shadow: -2px -1px 0 -1px #333;
    -webkit-box-shadow: -2px -1px 0 -1px #333;
    box-shadow: inset -2px -1px 0 -1px #333;
	border-right:#FFF solid thin;
	
	border-top:#333 solid thin;
	background:rgba(119, 119, 119, 0.8);
	color:#FFF;
	font-size:16px;
	 /* Chrome / Safari */
    -webkit-transition-property: all;
    -webkit-transition-duration: 1s;
    -webkit-transition-timing-function: ease;
    -webkit-transition-delay: 0.2s;
 
 
    /* Opera */
    -o-transition-property: all;
    -o-transition-duration: 1s;
    -o-transition-timing-function: ease;
    -o-transition-delay: 0.2s;
 
 
    /* Default */
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0.2s;
   padding:10px 0px;
	
}
nav ul .activa{
	background:rgba(156, 3, 89, 0.7)!important;	
}
nav ul li:hover{
background:rgba(156, 3, 89, 0.7);	
/*background:rgba(8, 184, 190, 0.8);*/
}
nav ul li:active{
background:rgba(156, 3, 89, 0.7)!important;
/*background:rgba(8, 184, 190, 0.8);*/
}
nav ul li a{
	color:#FFF;
	padding:10px 27px;
}
.logoexhohobby h1{
	float:left;
}
.logoexhohobby h1 a {
	background:url(../imagenes/logo.png);
	height: 60px;
    width: 247px;
	display:inline-block;
}
	.logoexhohobby h1 a span{
		display: block;
    height: 56px;
    text-indent: -9999px;
    width: 242px;
		
	}
.select{
	background:rgba(156, 3, 89, 0.7)!important;	
	
}
.cont-listado{
	width:473px;
	height:345px;
	display:block;
	border:#000 solid thin;
	background:none;
	-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;


	
	
}
.deplegablemenu{
	position:absolute;
z-index:9999;
display:block;
top: 144px;
margin-left: 18px;
	
}
.list{
	width:473px;
	height:150px;
	border-bottom:#c4c4c4 solid thin;
	-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
background:#ffffff;
 /* Chrome / Safari */
    -webkit-transition-property: all;
    -webkit-transition-duration: 1s;
    -webkit-transition-timing-function: ease;
    -webkit-transition-delay: 0.2s;
 
 
    /* Opera */
    -o-transition-property: all;
    -o-transition-duration: 1s;
    -o-transition-timing-function: ease;
    -o-transition-delay: 0.2s;
 
 
    /* Default */
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0.2s;
   padding:10px 0px;
   margin-bottom:3px;
}
.list:hover{
	-moz-box-shadow: 0px 0px 0px 2px #ffffff;
    -webkit-box-shadow: 0px 0px 0px 2px #ffffff;
    box-shadow: inset 0px 0px 0px 2px #ffffff;
	background:#dedede;
	
	}
.cont-datos{
	float:right;
	display:block;
	width:357px;
	margin-right:5px;
	
}
.list img{
	float:left;
	margin-left:12px;
	background:#FFF;
	-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
border:#b2b1b1 solid thin;
	
	
}
.list-invert img{
	
	float:left;
	margin-left:12px;
	background:#FFF;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
border:#b2b1b1 solid thin;
	
	
}
.decript-list p{
	font-size:11px;
	padding:0px;
	margin:0px;
}
.fecha-list p{
	font-size:10px;
	padding:0px;
	margin:0px;
	
}
.abril a{
	font-size:14.5px !important;
	color:#930c7e !important;

}
.abril{
	padding:0px;
	margin:0px 0px 5px 0px;
}
.septiembre a{
	font-size:14.5px !important;
	color:#538730 !important;
}
.septiembre{
    padding:0px;
	margin:0px 0px 5px 0px;
}
.list-invert{
	border-top:#c4c4c4 solid thin;
	-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px ;
border-bottom-left-radius: 5px ;
width:473px;
	height:150px;
background:#ffffff;
 /* Chrome / Safari */
    -webkit-transition-property: all;
    -webkit-transition-duration: 1s;
    -webkit-transition-timing-function: ease;
    -webkit-transition-delay: 0.2s;
 
 
    /* Opera */
    -o-transition-property: all;
    -o-transition-duration: 1s;
    -o-transition-timing-function: ease;
    -o-transition-delay: 0.2s;
 
 
    /* Default */
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0.2s;
   padding:10px 0px;
}
.list-invert:hover{
	-moz-box-shadow: 0px 0px 0px 2px #ffffff;
    -webkit-box-shadow: 0px 0px 0px 2px #ffffff;
    box-shadow: inset 0px 0px 0px 2px #ffffff;
	background:#dedede;
	
	}
.pico{
background: url(../imagenes/pico.png) no-repeat scroll 0 0 transparent;
    height: 12px;
    left: 160px;
    position: absolute;
    top: -10px;
    width: 11px;
    z-index: 9999;
	
}
.ver-todas-menu{
	
	text-decoration:none;
	width:auto;
	
	padding:0px 5px;
	font-size:12px;

display:inline-block;
color:#000 !important;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
padding: 11px 155px;

	
}

.cont-bon-list{
	border:#000 solid thin;
	width:473px;
	background:#f2f2f2;
	display:block;
margin:3px 0px 0px 0px;
		-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
height:35px;
/* Chrome / Safari */
    -webkit-transition-property: all;
    -webkit-transition-duration: 1s;
    -webkit-transition-timing-function: ease;
    -webkit-transition-delay: 0.2s;
 
 
    /* Opera */
    -o-transition-property: all;
    -o-transition-duration: 1s;
    -o-transition-timing-function: ease;
    -o-transition-delay: 0.2s;
 
 
    /* Default */
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0.2s;

}
.cont-bon-list:hover{
	background:#dedede;
}
#redes-sociales{
	
	display:inline-block;
	float:left;
	width: 179px;
padding: 0px 30px 3px;
float:right;
margin-top:18px;

}
#redes-sociales a span{
		display: block;
    height: 34px;
    text-indent: -9999px;
    width: 34px;
	}
#redes-sociales a{
	background:url(../imagenes/sprite-redes.png);
	height: 53px;
	width: 53px;
	float:left;
	margin-top:3px;
	margin-left:5px;
	/* Chrome / Safari */
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
    -webkit-transition-delay: 0.2s;
 
 
    /* Opera */
    -o-transition-property: all;
    -o-transition-duration: 0.3s;
    -o-transition-timing-function: ease;
    -o-transition-delay: 0.2s;
 
 
    /* Default */
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0.2s;
	
}
#redes-sociales .face{
	background-position:229px -2px;
	
	display:block;
	
}
#redes-sociales .face:hover{
	background-position:170px -2px;
}
#redes-sociales .twit{
	background-position:112px -2px;
	display:block;
}
#redes-sociales .twit:hover{
	background-position:55px -2px;
}
#redes-sociales .youtube{
	background-position:-4px -2px;
	display:block;
}
#redes-sociales .youtube:hover{
	background-position:-61px -2px;
}
.tb{
	
	margin:5px auto;
	border-left:#333 solid thin;
	border-right:#333 solid thin;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	width:922px;
	

	
}
.Cmarg{
	left:0px !important;
	font-size: 16px !important;
	
}
.tb .tbtitulos{
	background:#3CC;
	color:#FFF;
	font-weight: bold;
	text-align:center;
	border-left:#FFF solid thin;
	border-right:#333 solid thin;
	border-top:#333 solid thin;
}

.tb .tbtitulos:hover{
	background:#3CC;
	
}
.tb tr:nth-child(2n+0):hover{
	background:#FFC;
	
}
.tb tr:nth-child(2n+1):hover{
	background:#FFC;
}
.tb tr:nth-child(2n+1){
	background:#F8F8F8;
	
}
.tb tr:nth-child(2n+0){
	background:#E2E2E2;
}
.statusB{
	background: #35aa03; /* Old browsers */
background: -moz-linear-gradient(top,  #35aa03 0%, #028e02 45%, #007500 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#35aa03), color-stop(45%,#028e02), color-stop(100%,#007500)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #35aa03 0%,#028e02 45%,#007500 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #35aa03 0%,#028e02 45%,#007500 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #35aa03 0%,#028e02 45%,#007500 100%); /* IE10+ */
background: linear-gradient(to bottom,  #35aa03 0%,#028e02 45%,#007500 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35aa03', endColorstr='#007500',GradientType=0 ); /* IE6-9 */
color:#FFF;
}
.statusM{
background: #a90329; /* Old browsers */
background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* IE10+ */
background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
color:#FFF;
}
.tb tr{
	
	/* Chrome / Safari */
    -webkit-transition-property: all;
    -webkit-transition-duration: 1s;
    -webkit-transition-timing-function: ease;
    -webkit-transition-delay: 0.2s;
 
 
    /* Opera */
    -o-transition-property: all;
    -o-transition-duration: 1s;
    -o-transition-timing-function: ease;
    -o-transition-delay: 0.2s;
 
 
    /* Default */
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0.2s;
	
}
.tb td{
	border:none;
	padding:13px;
	text-align:center;
	
	
	border-bottom:#333 solid thin;	
	margin:0px !important;
	
}
td .btn-classic{
	margin:0px !important;
}
.input_wapper{
	padding:15px;
	margin-top:10px;
	background:#999;
	border:#CCC solid thin;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	/* Chrome / Safari */
    -webkit-transition-property: all;
    -webkit-transition-duration: 1s;
    -webkit-transition-timing-function: ease;
    -webkit-transition-delay: 0.2s;
 
 
    /* Opera */
    -o-transition-property: all;
    -o-transition-duration: 1s;
    -o-transition-timing-function: ease;
    -o-transition-delay: 0.2s;
 
 
    /* Default */
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0.2s;
	-moz-box-shadow: 2px -3px 0 -2px #FFF;
    -webkit-box-shadow: 2px -3px 0 -2px #FFF;
    box-shadow: inset 2px -3px 0 -2px #FFF;
	color:#FFF;
	
}
.input_wapper:hover{
	background:#D1D1D1;
}
.input_wapper label{
	width:163px;
	margin-right:10px;
	display: inline-block;
	
}
.input_wapper .btn_general{
	margin:0px auto;
	display: table;
	
}
#cke_descripcion{
	margin-top:10px;
}
#titulo{
	width:350px;
}
#queue{
	width:24px;
}
.editartitulo{
	padding:15px;
	background:#FFF;
	text-align:center;
	font-family:Verdana, Geneva, sans-serif;
	border:#CCC solid thin;
	
}
#preview_small_image{
	height: 60px;
    width: 80px;
	border:#999 thin solid;
	margin-top:15px;
	margin-bottom:15px;
}
#preview_small_image img{
	overflow:hidden;
height: 60px;
    width: 80px;
}
#preview_big_image img{
		overflow:hidden;
    width: 887px;
	
	
}
#preview_big_image{
	border:#999 thin solid;
	margin-top:15px;
	overflow:hidden;
	height:380px;
	width: 887px;
	margin-bottom:15px;
	
}

/*seccion revista todas Multi revista*/
.ContMult:hover{
	background: #fff !important;

}
.ContMult{
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
width:230px;
height:auto;
border:#c3c1c2 solid thin;
padding:7px;
display:inline-table;
background:#FFF;
}
.ContMult img{
	width:227px;
	height:289px;
	
}
.contHover:hover .clsContenedorAll{
 height: 294px;

}
section .contHover:hover{
 background:none !important;
}
.contHover{
 width: 245px;
background:none !important;
margin-left:46px;
float:left;
display:block;
height:358px;
}
.clsContenedorAll{
background: url(../imagenes/bg.png) repeat;
    box-shadow: 0 0 2px #000000;
    color: #FFFFFF;
height: 0px;
left:-6px;
position: relative;
 top:-301px;
overflow: hidden;

    -webkit-transition: all 0.5s ease-out;
-moz-transition: all 0.5s ease-out;
-o-transition: all 0.5s ease-out;
transition: all 0.5s ease-out;
 width:232px;
display:block;
float:right;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;

}
.clsContenidoAll .descripcion{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11.7px;
	color:#FFF;
	margin:0px 20px 0px;
}
.clsTituloAll{
	margin-top:20px;
	text-align:center;
	
}
.clsTituloAll h3{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#FFF;
	text-align:center;
	font-size:12.7px;
	margin-bottom:5px;
	
}
.clsContenidoAll .bnt-verAll{
background: #cb60b3; /* Old browsers */
background: -moz-linear-gradient(top,  #cb60b3 0%, #c146a1 50%, #a80077 51%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cb60b3), color-stop(50%,#c146a1), color-stop(51%,#a80077)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #cb60b3 0%,#c146a1 50%,#a80077 51%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #cb60b3 0%,#c146a1 50%,#a80077 51%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #cb60b3 0%,#c146a1 50%,#a80077 51%); /* IE10+ */
background: linear-gradient(to bottom,  #cb60b3 0%,#c146a1 50%,#a80077 51%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#a80077',GradientType=0 ); /* IE6-9 */


		
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border:#F097E8 solid thin;
	color:#FFF;
	padding: 5px 11px;
	text-decoration:none;
	font-weight:bold;
	margin:25px 15px 5px;
	display:block;
	text-align:center;
	
	font-size: 12px !important;
}

.bnt-verAll:hover{

  background: #c96eb4; /* Old browsers */
background: -moz-linear-gradient(top,  #c96eb4 0%, #bf69a8 50%, #a35b8d 53%, #d85fb0 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c96eb4), color-stop(50%,#bf69a8), color-stop(53%,#a35b8d), color-stop(100%,#d85fb0)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #c96eb4 0%,#bf69a8 50%,#a35b8d 53%,#d85fb0 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #c96eb4 0%,#bf69a8 50%,#a35b8d 53%,#d85fb0 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #c96eb4 0%,#bf69a8 50%,#a35b8d 53%,#d85fb0 100%); /* IE10+ */
background: linear-gradient(to bottom,  #c96eb4 0%,#bf69a8 50%,#a35b8d 53%,#d85fb0 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c96eb4', endColorstr='#d85fb0',GradientType=0 ); /* IE6-9 */
}

.ContMult header{
	width: auto !important;
	float:left !important;
	margin-left:10px;
}
.ContMult section{
	width: auto !important;
	float:left !important;
}
.ContMult header h2{
	width: auto !important;
	font-size:12px !important;
	color:#930C7E !important;
	display:block;
	z-index:1px;
	margin: 0px auto 5px auto;
    text-align: left;
	height:17px;
	overflow:hidden;


}
.ContMult .cont-art article section{
	float:left;
	width: auto !important;
}
.sombra{
	background:url(../imagenes/sombra.jpg) no-repeat;
	width:246px;
	height:12px;
	display:block;
}
.sombra2{
	background: url(../imagenes/sombraprin.jpg) no-repeat;
	width:924px;
	height:11px;
	display:block;
}
.sombra3{
	background: url(../imagenes/sombra3.jpg) no-repeat;
	width:606px;
	height:10px;
	display:block;
}
.sombra6{
	background: url(../imagenes/sombra4.jpg) no-repeat;
	 width:276px;
	height:10px;
	display:block;
}
.sombra5{
	background:url(../imagenes/sombra5.jpg) no-repeat;
	 width:145px;
	height:10px;
	display:block;
}
.con-swf{
	display:block;
	background:#FAFDFF !important;
	border:#FFF solid thin;
	padding:15px;
	 height: auto;
	 margin:0px auto;

}


.con-swf section {
	margin:0px auto !important;
	float:none !important;
    width:884px !important;
	display:block  !important;
	
}
.con-swf header h2{
	margin-bottom:0px;
	float:left;
	display:block;
}
.con-swf header .cont-redes{
	float:right;
	margin-top:29px;
	margin-right:15px;
	width:145px;
}
.con-swf header {
    background: none repeat scroll 0 0 transparent;
	margin:0px auto !important;
    float: none !important;
    width:872px;
	display:table !important;
	/*color:#14ADAF;*/
	color:#910C7F;
}
.descripcion-swf span{
	color:#333 !important;
	font-size:12px !important;
}
.descripcion-swf p{
	margin-bottom:5px;
	margin-left:5px;
}
.descripcion-swf{
	color:#333 !important;
	font-size:16px;
	
}
.cont-arch{
	text-align:center;
	background:#FFF;
	border:#CCC solid thin;
	padding:10px;
	margin-top:15px;
	box-shadow: 0 0 20px #ccc;
}
.cont-btn-pdf{
	text-align:right;
	margin-top:10px;
	display:block;
}
footer{
	color:#FFF;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	text-align:center;
	margin-top:15px;
	
}
footer a{
	color:#CCC;
	text-decoration:none;
}
	  
footer p{
	margin:2px 0px;
}
footer .dat nav{
	background:none !important;
	text-align:right;
	 margin-bottom:0px !important ;
    padding-left:0px !important;
    width: 509px !important;
	margin-right:17px !important;
	float:right !important;
}
footer .dat nav ul{
	float:right !important;
	margin-top:5px !important;
}
footer .dat nav p{
	float:left;
}
.dat{
	display:inline-block;
	margin:3px;
	width:100%;
}
.cont_val .correcto{
	background:url(../imagenes/Check.png) no-repeat -16px 0px;
	display: block;
    height: 271px;
    width: 253px;
	float:right;
	
}
.val{
	display:table !important; 
	width:550px;
	margin:10px auto;
	padding:15px;
	
	
}
.cont_val h3{
	color:#03d5cd !important;
	font-size:40px;
	float:left;
	margin:0px;
}
.cont_val p{
float:left;
	margin:15px 0px 0px;
}
.cont_val .bnt-ver{
float:left;
	margin:15px;
	text-decoration:none;
	position: static !important;
}
.cont-tex-val{
	margin-top:59px;
	float:left;
	display:block;
	width:262px;
	
}

.cont_val .error{
	background:url(../imagenes/Check.png) no-repeat -282px 0px;
	display: block;
    height: 271px;
    width: 253px;
	float:right;
	
}
#modal_registration{
	 box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.80);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.80);
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.80);
	border:#333 solid thin;
	
}
#modal_registration p{
	color:#333;
}
#modal_registration h3{
	/*color:#14ADAF;*/
	color:#910C7F;
	margin:5px 0px 15px;
	
}
.uds-bb-description{
	color:#FFF !important ;
	padding:10px;

}
.uds-transparent{
background:url(../imagenes/bg.png) repeat !important;
z-index:1;
}
#cargador{
	background:url(../imagenes/carga.gif) 355px 4px #fff no-repeat;
	width:892px;
	height:40px;	
	margin:0px auto;
}
.artempres{
	background:#FFF;
	border:#c3c1c2 solid thin;
	padding:10px;
	
	display:block;
	-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
 height: 382px;
 width: 762px;
 margin:0px auto;
	
}
.contac{
	background:#FFF;
	border:#c3c1c2 solid thin;
	padding:10px;
	
	display:block;
	-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
 height: 382px;
 width: 762px;
 margin:0px auto;
	
}
.contac section{
	width:639px;
	padding:5px;
	margin: 0px 61px;
	
}
.input_wappers{
	 display:inline-block;
    margin: 0px auto;
    padding: 7px;
    width: 307px;
	
}
.contac section form{
	width:328px;
	margin:0px auto;
	display:block;
	float:right;
	
}
.pcontc a{
	color:#14ADAF;
}
.pcontc{
	display:block;
	float:left;
	margin-top: 7px;
}
.pcontc p span{
	background:url(../imagenes/list.png) no-repeat;
	width:20px;
	height:34px;
	
}
.pcontc p{
	font-size:14px;
	width:222px;
	color:#333;
	
}
.input_wappers textarea {
	float:right;
	width:199px;
	 height: 134px;
	  resize: none;
}
.contac header h2{
color:#14ADAF;
    font-size: 26px !important;
	font-weight: 100 !important;
	font-family:Verdana, Geneva, sans-serif;
}
.contac header{
 width:535px;
	padding:5px;
	margin: 0px 102px;
	text-align:center;
	
	
}
.input_wappers label{
	float:left;
	color:#930C7E;
}
.input_wappers input{
	float:right;
	width:199px;
	
}
.empresa{
	width:923px;
	height:auto;
	display:block;
	margin:30px 0px 0px;
	
}
.artempres header{
	float:none !important;
	margin:0px auto;
}
.artempres header h2{
	color:#333;
	font-family:Verdana, Geneva, sans-serif;
	text-align:center;
	font-size:20px;
	font-weight:100;
	
}
.artempres header h2 span{
	color:#14ADAF;
	font-size:26px;
}
.des_emp{
	margin:45px auto;
	width:auto;
	
}
.des_emp p{
	
	font-size:13px;
	line-height:27.5px;
	margin:15px 25px 0px 10px;
	padding:0px !important;
	float:none !important;
	
}
.artempres section{
	width:461px !important;
	
}
.Cseccion{
	font-size:12px;
	margin:0px;
	padding-left:25px;
	text-shadow: 1px 1px #fff;
	float:left;
	display:block;
	
}
.active{
 background: none repeat scroll 0 0 rgba(8, 184, 190, 0.8);
}
.contredesysecc{
	display:block;
	width:auto;
	margin:2px;
	padding:1px;
	height:20px;
	
	
}
.contredesysecc .cont-redes{
	float: right;
	margin-right:25px;
	display:block;
	width: 145px;
	
	
}
.des_emp p .expspan{
	font-size:13px !important;
	color:#14ADAF !important;
	
}
.imgEmpre{
	
	width:210px !important;
	height:auto !important;
	margin-left:25px !important;
	margin-top:29px !important;
}

.des_emp p span{
	color:#930c7e !important;
	font-size:48px;
	font-family: Tahoma, Geneva, sans-serif;
	
}
.sombra4{
	background: url(../imagenes/sombraprin.jpg) no-repeat;
	width:924px;
	height:11px;
	display:block;
	margin:0px auto;
}
.mail_gracias{
	color: #333333;
    display: block;
    float: right;
    height: auto;
    text-align: center;
    width: 407px;
	margin-top:4px;
	
}
.mail_gracias p{
	margin:0px !important;
}
.mail_gracias h3{
	margin:2px !important;
}
.mail_gracias span{
	background:url(../imagenes/Check2.png) no-repeat;
 display: block;
   height: 195px;
    margin-left:113px;
    width: 196px;
	margin-top:4px;
	
}
#cargador2{
	 width: 388px !important; 
	 float:left !important;
	 background:url("../imagenes/carga.gif") no-repeat scroll 121px 4px #FFFFFF;
	  height: 40px;
    margin: 0 auto;
	
}
.mail_error{
	color: #333333;
    display: block;
    float: right;
    height: auto;
    text-align: center;
    width: 407px;
	margin-top:4px;
	
}
.mail_error p{
	margin:0px !important;
}
.mail_error h3{
	margin:2px !important;
}
.mail_error span{
	background:url(../imagenes/Check2.png) -190px 0px no-repeat;
 display: block;
   height: 195px;
    margin-left:113px;
    width: 196px;
	margin-top:4px;
	
}
#publ_grande img{
	width: 890px !important;
	height: 83px !important;
}

.tb td img{
	width: 139px;
	height: 83px;
	
}

#preview_image img{
		width: 139px !important;
height: 83px !important;
	
}
.banner_publ{
background:#FFF;
	border:#c3c1c2 solid thin;
	padding:7px 7px 4px;
	-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
display: inline-block;
width:907px;
}
.banner_publ img{
	background:#000;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.banner_publ a{
	border:none;
	text-decoration:none;
	
}

.sombra2PuB{
	background: url(../imagenes/sombraprin.jpg) no-repeat;
	width:924px;
	height:11px;
	display:block;
	margin-bottom:15px;
}
#cargador3{
	 width:187px !important; 
	 display:inline-block;
	 background:url("../imagenes/carga.gif") no-repeat scroll 9px 4px #FFFFFF;
	  height:38px;
	  vertical-align:bottom;
	  
	
}
#cargador4{
	 width:557px !important; 
	 display:inline-block;
	 background:url("../imagenes/carga.gif") no-repeat scroll 197px 4px #FFFFFF;
	  height:38px;
	  vertical-align:bottom;
	  margin:0px auto;
	  
	
}
/* SIMULADOR REVISTA  */
#contmag{
	width:862px;
	background: #eeeeee; /* Old browsers */
background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* IE10+ */
background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}

.ex1 img{
	
	 background: none !important;
    border:none !important;
    border-radius:0px !important;
    display:block !important;
    float:none !important;

}

#magazine{
 margin-left: 2px;
 padding-bottom: 2px;
 width:860px;
}
.contzoom{
	display:block;
	float:left;
	
}
.ver:hover{
	cursor:pointer;
	background: url(../imagenes/lupahover.png)no-repeat  1px 0;
}
.ver{
	background: url(../imagenes/lupa.png)no-repeat  1px 0;
    padding: 30px;
    width: 1px;
	float:left;
	display:block;
}
.stop:hover{
	cursor:pointer;
	background: url(../imagenes/lupanohover.png)no-repeat  1px 0;
}
.stop{
	background: url(../imagenes/lupano.png)no-repeat  1px 0;
    padding: 30px;
    width: 1px;
	float:left;
	display:block;
}
.des:hover{
	cursor:pointer;
	background: url(../imagenes/deshover.png)no-repeat  1px 0;
}
.des{
	background: url(../imagenes/des.png)no-repeat  1px 0;
    padding: 30px;
    width: 1px;
	float:left;
	display:block;
}
#menuzoom{
  box-shadow: 0 0 2px #000000;
    padding: 10px;
    width: 839px;
	background: url(../imagenes/bg.png) repeat;
    box-shadow: 0 0 2px #000000;
	margin-bottom:5px;
	border-bottom:#A71498 solid medium;
	display:inline-block;
	
}
#menuzoom a{
	float: right;
	
}
#menuzoom a img{
	width:62px !important;
	height:auto !important;
	
}
.zoom{
 	
}
#magazine .turn-page{
	background-color:#ccc;
	background-size:100% 100%;
}
/* styles unrelated to zoom */
		

		/* these styles are for the demo, but are not required for the plugin */
		.zoom {
			display:inline-block;
			position: relative;
		}
		
		/* magnifying glass icon */
		.zoom:after {
		
		}

		.zoom img {
			display: block !important;
		}

		.zoom img::selection { background-color: transparent; }

		#ex2 img:hover { cursor: url(grab.cur), default; }
		#ex2 img:active { cursor: url(grabbed.cur), default; }
		#mycursor {
			cursor: none;
			width: 97px;
			height: 137px;
			background: url(../imagenes/lupamouse.png) no-repeat left top;
			position: absolute;
			display: none;
			top: 0;
			left: 0;
			z-index: 10000;
}
#follower span{
color:#910C7F;	
}
#follower p{
font-size:10px;	
color:#333;
padding:0px;
margin:0px;
 line-height:15px;
 top:0px !important;
 left:0px !important;
}
#follower{
  position :absolute;
  width:150px;
  z-index:777;
  text-align:left;
 
  background: rgba(238, 238, 238, 0.9);
padding:10px;
border: #333 solid thin;
-webkit-border-radius: 7px;
-moz-border-radius: 7px;
border-radius: 7px;
color:#333;
font-family:Verdana, Geneva, sans-serif;
font-size:10px;
 box-shadow: 0 0 5px #999;

}


.container
{  

    overflow:hidden;
}
.ayuda img{
	border:none;
	margin-right:22px;
	float:left;
	
}
.ayuda p{
	color:#333;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	display:inline-block;
 margin: 9px 0px 0px;
    width: 372px;
	float:left;
}
.ayuda{
    padding: 5px;
    width: 477px;
	margin:0px auto;
	   display: table;
	
	
}
.contayd{
background:#FFF;
	border:#c3c1c2 solid thin;
	padding:10px;
	
	display:block;
	-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
 height: 129px;
 width: 762px;
 margin:0px auto;
}
/* FIN DE SIMULADOR  */
.cont-descrpexp{
	display: inline-block;
	width:100%;

}
.cont-descrpexp .cont-img{
	-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow: inset 1px 1px 0px 10px rgba(255, 255, 255, 1);
        
        box-shadow: inset 1px 1px 0px 10px rgba(255, 255, 255, 1);
		background:#CCC
		background: #e5e2e3; /* Old browsers */
background: -moz-linear-gradient(top,  #e5e2e3 0%, #cdcecd 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e2e3), color-stop(100%,#cdcecd)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e5e2e3 0%,#cdcecd 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e5e2e3 0%,#cdcecd 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e5e2e3 0%,#cdcecd 100%); /* IE10+ */
background: linear-gradient(to bottom,  #e5e2e3 0%,#cdcecd 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e2e3', endColorstr='#cdcecd',GradientType=0 ); /* IE6-9 */

padding:14px;
border:#ccc solid thin;
height:auto;
display: inline-block;
float:left;


}
.cont-img img{
	max-width:227px;
	display:block;
	float:none;
	background:none;
	border:none;
}
.con-swf header .titexpo{
	margin-left:0px !important;
}
.descripcion-expo p{
	margin-left:0px;
}

.descripcion-expo  span{
	color:#333 !important;
	font-size:12px !important;
}
article .secexpo{
	width:872px  !important;
	
}
.descripcion-expo2{
	width:250px;
	float:right;
	display:block;
	width:556px;
	height:126px;
	
}
.descripcion-expo2 p{
	font-size:15px;
	line-height:22px;
	}
.optdes_expo{
	float:left;
	width:554px;
	margin-left:18px;
}	
.optdes_expo .itm1{

    width: 0;
    height: 0;
    border-top: 22px solid transparent;
    border-right: 53px solid #913188;
    border-bottom: 22px solid transparent;
	float:left;
}
.optdes_expo li:hover{
	background:#b351a9; 
}
.optdes_expo li a{
	color:#FFF;
	text-decoration:none;
	padding:9px;
	
}
.optdes_expo li{
	float:left;
	background:#913188;
	padding:11px;
	color:#FFF;
	list-style:none;
	font-size:15px;
	border-top:#7a0368 solid thin;
	border-bottom:#7a0368 solid thin;
	border-right:#cd86d2 solid thin;
	-webkit-box-shadow: inset -2px 0px 0px 0px rgba(122, 3, 104, 1);
        
        box-shadow: inset -2px 0px 0px 0px rgba(122, 3, 104, 1);
		    -webkit-transition: all 0.5s ease-out;
-moz-transition: all 0.5s ease-out;
-o-transition: all 0.5s ease-out;
transition: all 0.5s ease-out;

}
.optdes_expo .ultli{
	-webkit-border-top-right-radius: 10px;
-webkit-border-bottom-right-radius: 10px;
-moz-border-radius-topright: 10px;
-moz-border-radius-bottomright: 10px;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
-webkit-box-shadow: inset 0px 0px 0px 0px rgba(122, 3, 104, 1);
        
        box-shadow: inset 0px 0px 0px 0px rgba(122, 3, 104, 1);
		border-right:#7a0368 solid thin;
}
.taman{
	float:none!important;
	width:auto !important;
	padding:0px!important;
	display:inline-block !important;
	margin:0px auto 5px!important;

	
	
	
}
.cont-opc-exp{
	width:100%;
	display:block;
	margin-top:25px;
	
}
.taman li{
	padding:10px!important;
	
	
}
.taman .prili{
	-webkit-border-top-left-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-bottomleft: 10px;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
border-left:#7a0368 solid thin;

}
.contimg_fot{
	float:left;
	display:inline-block;
	width:257px;
	
}
.sombra7{
	background:url(../imagenes/sombra7.jpg) 29px 0px no-repeat;
	width:246px;
	height:12px;
	display:block;
	float:left;
}
.cont_vermap{
	color:#910C7F;
	
	
}
#form_registro_entr{
	height:271px;
	width:372px;
	display:block;
	margin:0px auto;
	padding:10px;
	display:block;
	
}
#form_registro_entr label{
	float:left;
	display:inline-block;
	height:25px;
	padding:10px;
	text-align:left;
	width:351px;
	line-height:31px;
	color:#333;
}
#form_registro_entr label .inptEnt{
	float:right;
	height:25px;
	width:210px;
	padding-left:5px;
	color:#333;
}
.redircbtn{
	float:right;
}
.Sulerror{
	color:#333;
	font-size:10px;
	width:250px;
	height:25px;
}
.Sulerror a{
	color:#910C7F;
	text-decoration:none;
}
.Sulerror a:hover{
	color:#B83DD1;
}